doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Pola: Updated Password
        link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
        link(href="/styles/style.css", rel="stylesheet")

    body
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href="/") Pola
        //end navbar

        div.col-md-4.col-md-offset-4
            div.well.well-lg
                h4
                    | Password updated. Please 
                    a(href="/login") sign in again.
                
                
    script(src="/bootstrap/js/bootstrap.min.js")
